@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

	.v-margin-left   {padding-left:   0px;}
    .v-margin-right  {padding-right:  0px;}
    .v-margin-top    {padding-top:    0px;}
    .v-margin-bottom {padding-bottom: 0px;}	
    
    
	/* White background for the entire UI */
  .v-ui {
    background: white;
  }
  
  /* All labels have white text on black background */
  .v-label {
    background: black;
    color: white;
    font-size: 24pt;
    line-height: 24pt;
    padding: 5px;
  }
  
    .v-button-TopBar {
    	height: 100%;
    }
    
    
     .v-button-Nav {
     	background-color: #FFFFFF;
  		margin: 0px;
  		text-align: left;
  		padding-left: 5px;
		border: none;
	    border-radius: 0px;
	    color: #000000;
	    border-radius: 0px;
	    background-image: none;  
	    display:block; 
	    outline: none;
	    box-shadow: none;
    }
    
    .v-button-Selected {
	    background-color: #FFFFFF;
	  	margin: 0px;
	  	text-align: left;
  		padding-left: 5px;
		border: none;
	    border-radius: 0px;
	    color: #000000;
	    border: 1px solid #5EB395;
	    border-radius: 0px;
	    background-image: none;  
	    display:block; 
	    outline: none;
	    box-shadow: none;
    }
    
   .v-button-Nav:hover {
	    background-color: #FFFFFF;
	  	margin: 0px;
	  	text-align: left;
  		padding-left: 5px;
		border: none;
	    border-radius: 0px;
	    color: #000000;
	    border: 1px solid #5EB395;
	    border-radius: 0px;
	    background-image: none;  
	    display:block; 
	    outline: none;
	    box-shadow: none;
    }
    
	.v-accordion-item-content {
		background-color: #FFFFFF;
		display: block;
		outline: none;
	}
	
	.v-accordion-item {
		background-color:#4D74C0;
		display: block;
		outline: none;
		box-shadow: none;
		margin: 0px;
  		padding: 0;
 		@include box-shadow(none);
	}
	
	.v-accordion-item-caption {
		box-shadow: none;
		@include box-shadow(none);
		.v-caption {
			box-shadow: none;
			border: none;
			color: #FEFFFF;
			border-bottom: 2px solid #EFB64F;
		}
	}
	
  
}
