@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

	.v-margin-left   {padding-left:   0px;}
    .v-margin-right  {padding-right:  0px;}
    .v-margin-top    {padding-top:    0px;}
    .v-margin-bottom {padding-bottom: 0px;}	
    
    
	/* White background for the entire UI */
  .v-ui {
    background: white;
  }
  
  /* All labels have white text on black background */
  .v-label {
    background: black;
    color: white;
    font-size: 24pt;
    line-height: 24pt;
    padding: 5px;
  }
  
    .v-button-Selected {
    	background-color: #25282F;
  		margin: 0px;
  		padding: 0;
		border: none;
		border-left: 5px solid #639DEA;
	    border-radius: 0px;
	    color: white;
	    border:none;
	    border-radius: 0px;
	    background-image: none;  
	    display:block; 
	    outline: none;
	    box-shadow: none;
    }
    
     .v-button-Nav {
     	background-color: #2F323B;
  		margin: 0px;
  		padding: 0;
		border: none;
	    border-radius: 0px;
	    color: white;
	    border:none;
	    border-radius: 0px;
	    background-image: none;  
	    display:block; 
	    outline: none;
	    box-shadow: none;
    }
    
   .v-button-Nav:hover {
	    background-color: #25282F;
	  	margin: 0px;
  		padding: 0;
		border: none;
	    border-radius: 0px;
	    color: white;
	    border:none;
	    border-radius: 0px;
	    background-image: none;  
	    display:block; 
	    outline: none;
	    box-shadow: none;
    }
    
	.v-accordion-item-content {
		background-color: #808080;
		display: block;
		outline: none;
	}
	
	.v-accordion-item {
		background-color: #5C9EF5;
		display: block;
		outline: none;
		box-shadow: none;
		margin: 0px;
  		padding: 0;
		border: none;
		@include box-shadow(none);
	}
	
	.v-accordion-item-caption {
		box-shadow: none;
		@include box-shadow(none);
		.v-caption {
			box-shadow: none;
			border: none;
		}
	}
	
  
}
