<?xml version="1.0" encoding="UTF-8"?>
<web-app
  id="WebApp_ID" version="3.0"
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <servlet>
    <servlet-name>>easy-app-demo</servlet-name>
    <servlet-class>
        com.vaadin.server.VaadinServlet
    </servlet-class>

    <init-param>
      <param-name>UI</param-name>
      <param-value>org.vaadin.easyApp.demo.AddonDemoApplication</param-value>
    </init-param>
    
<!--     <init-param>
      <param-name>org.atmosphere.websocket.suppressJSR356</param-name>
      <param-value>true</param-value>
	</init-param> -->
	
	<!-- Enable server push -->
    <init-param>
      <param-name>pushmode</param-name>
      <param-value>automatic</param-value>
    </init-param>
    <async-supported>true</async-supported>

  </servlet>

  <servlet-mapping>
    <servlet-name>>easy-app-demo</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>